header>
        LOGO
        <nav>
            <ul>
                <li><a href="">uno</a></li>
                <li><a href="">dos</a></li>
                <li><a href="">tres</a></li>
                <li><a href="">cuatro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <h1>Cuatro</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aspernatur molestias maxime quasi
                    dolore sapiente fugit assumenda tempora officiis ducimus? Ad quibusdam assumenda aliquid aut?
                    Sapiente quaerat velit eius voluptatum?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi nulla corrupti aspernatur
                    vero sequi ratione reiciendis ad, unde suscipit natus tempore cumque minus, praesentium eum? Omnis,
                    necessitatibus. Animi, maiores!</p>
            </article>
        </section>
    </main>
    <footer>
       copy 2022
    </footer>